<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298490344585-n08p842jlk3jcr1opffgn5rqb835icqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298490344585-n08p842jlk3jcr1opffgn5rqb835icqm</string>
	<key>API_KEY</key>
	<string>AIzaSyDrFxlYsB2DJvcWyGzn2OZGZHEj9MyLLgM</string>
	<key>GCM_SENDER_ID</key>
	<string>298490344585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.innoverse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>innoverse-tanmay</string>
	<key>STORAGE_BUCKET</key>
	<string>innoverse-tanmay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298490344585:ios:2045ad5f8510bc813d4258</string>
</dict>
</plist>